/*
* @Author: gigaflw
* @Date:   2018-02-28 21:38:49
* @Last Modified by:   gigaflw
* @Last Modified time: 2018-02-28 22:55:08
*/

/* give github legends and day blocks transistion */
.contrib-legend ul.legend > li {
  transition: background .2s;

  background-size: 100% 100%;  /* in case a icon is used */ 
}

.calendar-graph rect.day {
  transition: fill .2s;

  background-size: 100% 100%;  /* in case a icon is used */ 
}
