/*
* @Author: gigaflw
* @Date:   2018-03-03 16:31:02
* @Last Modified by:   gigaflw
* @Last Modified time: 2018-10-30 09:05:59
*/

body {
  background-color: #f5f9fa;
}

h1 {
  text-align: center;
}

#icon-gallery,
#poster-gallery {
  width: 60%;
  min-width: 1000px;
  margin: 10px auto;
  padding: 30px;
  background-color: #f0f0f3;
}

#poster-gallery {
  padding-bottom: 50px;
}

#poster-gallery {
  margin-top: 30px;
}

.icon {
  margin: 10px;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: #aaa;

  display: inline-block;
  vertical-align: middle;
  position: relative;
  user-select: none;
}

.poster {
  margin: 30px auto;
  width: 832px;
  height: 112px;
  user-select: none;
  position: relative;
  box-shadow: 0 0 3px #aaa;
  transition: transform .2s, box-shadow .2s;
}

.icon div.img,
.poster div.img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transition: transform .2s;
}

.icon div.img {
  background-size: contain;
}

.poster div.img {
  background-size: cover;
  background-position: center;
}

.icon:hover div.img {
  transform: scale(1.1);
}

.poster:hover {
  transform: scale(1.005);
}

.js-add-file-btn,
.js-recover-btn {  /* class for js */
  cursor: pointer;
}

.add-btn:before,
.add-btn:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #aaa;
  border-radius: 3px; 
}

.add-btn:before {
  left: 5%;
  top: 35%;
  width: 90%;
  height: 30%;
}

.add-btn:after {
  left: 35%;
  top: 5%;
  width: 30%;
  height: 90%;
}

.del-btn {
  width: 10px;
  height: 10px;
  background-color: #e99330;

  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  cursor: pointer;
    
  opacity: 0;
  transition: transform .2s, opacity .1s, background-color .3s;
}

.del-btn:hover {
  background-color: #e93330;
}

.icon:hover .del-btn,
.poster:hover .del-btn {
  transform: rotate(45deg);
  opacity: 1;
}

.poster .del-btn {
  top: -5px;
  right: -5px;
}

.del-btn:before,
.del-btn:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #f9f3f0;
  border-radius: 3px;
}

.del-btn:before {
  left: 15%;
  top: 40%;
  width: 70%;
  height: 20%;
}

.del-btn:after {
  left: 40%;
  top: 15%;
  width: 20%;
  height: 70%;
}

/* ***********************
  poster specific buttons
 ************************/
 #poster-gallery .fa { /* fa -> font awesome icons */
  font-size: 32px;
  color: #aaa;
}

#poster-gallery .btn-group {
  height: 32px;
}

#poster-gallery .btn-group div {
  float: left;
}

#poster-gallery .btn-group .nonedit-hide { display: none; }
#poster-gallery .btn-group.editing .nonedit-hide { display: block; }

#poster-gallery .url-input-box {
  width: 0;
  height: 100%;
  line-height: 100%;

  vertical-align: middle;
  position: relative;
  transition: width 0.3s ease-out;
}

#poster-gallery .btn-group.editing .url-input-box {
  width: 75%;
}

#poster-gallery .btn-group .js-add-file-btn,
#poster-gallery .btn-group .js-ok-btn {
  cursor: pointer;
}

#poster-gallery .url-input-box input {
  font-size: 2em;
  color: rgb(84, 84, 84);
}

#poster-gallery .url-input-box.underline::before {
  width: 100%;
  left: 0;
  bottom: -20%;
  border-bottom: 3px solid rgba(0, 0, 0, 10);
}

#poster-gallery .add-btn[data-rotating|=right] { animation: rotatingRight .5s forwards; }
#poster-gallery .add-btn[data-rotating|=left]  { animation: rotatingLeft  .5s forwards; }

@keyframes rotatingRight {
  from { transform: rotate(0deg); }
  to   { transform: rotate(225deg); }
}

@keyframes rotatingLeft {
  from { transform: rotate(225deg); }
  to   { transform: rotate(0deg); }
}

#poster-gallery .poster.editing {
  box-shadow: 0 0 8px #c92;
  animation: scrollDown .5s forwards;
}

@keyframes scrollDown {
  from { max-height: 0px; }
  to   { max-height: 112px; }
}

#poster-gallery .poster.editing .del-btn { /* non-deletable when still editing */
  display: none;
}

#poster-gallery .error-prompt {
  color: #c22;

  position: absolute;
  bottom: -100%;

  width: 100%;
  text-align: center;
}

/* utils */
input.invisible-input{
  background-color: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  cursor:default;
  padding: 0;

  width: 100%;
  text-align: center;
}

.underline::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 10);
}
